{% extends 'admin/base.html.twig' %}

{% block title %}Группа {{ account_group.name }}{% endblock %}

{% block admin_body %}
    <div class="d-flex flex-wrap align-items-start justify-content-between gap-3 mb-4">
        <div>
            <h1 class="h3 mb-1">Группа {{ account_group.name }}</h1>
            <p class="text-secondary mb-0">Изменение кода, названия и описания.</p>
        </div>
        {{ include('admin_account_group/_delete_form.html.twig') }}
    </div>

    <section class="card">
        <div class="card-body">
            {{ include('admin_account_group/_form.html.twig', {'button_label': 'Сохранить'}) }}
        </div>
    </section>
{% endblock %}
