<form method="post" action="{{ path('app_admin_account_delete', {'uuid': account.uuid}) }}" onsubmit="return confirm('Удалить участок {{ account.number|e('js') }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account.uuid) }}">
    <button class="btn btn-outline-danger">Удалить</button>
</form>
