<form method="post" action="{{ path('app_admin_electricity_tariff_zone_delete', {'uuid': electricity_tariff_zone.uuid}) }}" onsubmit="return confirm('Удалить тарифную зону {{ electricity_tariff_zone.name|e('js') }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ electricity_tariff_zone.uuid) }}">
    <button class="btn btn-outline-danger">Удалить</button>
</form>
